<ion-header>
  <ion-toolbar class="detail-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/explore/offers"></ion-back-button>
    </ion-buttons>

    <ion-button slot="end" fill="clear" (click)="toggleFavorite()">
      <ion-icon
        [name]="isFavorite() ? 'heart' : 'heart-outline'"
        color="danger"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="detail-content">
  @if (offer) {

  <!-- HERO -->
  <div class="hero">
    <ion-img [src]="offer.images[0]"></ion-img>
    <div class="hero-gradient"></div>
  </div>

  <!-- BODY -->
  <div class="body">
    <div class="title-row">
      <h1>{{ offer.title }}</h1>

      <div class="rating">
        <ion-icon name="star"></ion-icon>
        <span>{{ offer.rating }}</span>
      </div>
    </div>

    <p class="description">{{ offer.description }}</p>

    <div class="price-row">
      <span class="price"> {{ offer.basePrice | currency:'COP' }} </span>
      <span class="per">por persona</span>
    </div>
  </div>
  }
</ion-content>

<!-- CTA FIJO -->
@if (offer) {
<div class="cta">
  <ion-button expand="block" shape="round"> Reservar ahora </ion-button>
</div>
}
