<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="navService.returnUrl()"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="edit-content">
  <div class="edit-wrapper">
    <form [formGroup]="form" (ngSubmit)="save()" class="edit-form">
      <ion-list lines="none" class="form-card">
        <ion-item>
          <ion-input
            label="Nombre de usuario"
            labelPlacement="stacked"
            formControlName="username"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Correo electrónico"
            labelPlacement="stacked"
            type="email"
            formControlName="email"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Número de teléfono"
            labelPlacement="stacked"
            type="tel"
            formControlName="phone"
          ></ion-input>
        </ion-item>

        <!-- PROVIDER SPECIFIC FIELDS -->
        <ng-container *ngIf="selectedRole === 'proveedor'">
          <ion-item>
            <ion-select
              label="Tipo de Proveedor"
              label-placement="stacked"
              formControlName="type"
            >
              <ion-select-option value="COMPANY">Empresa</ion-select-option>
              <ion-select-option value="NATURAL_PERSON"
                >Persona Natural</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-input
              label="Razón Social / Nombre Comercial"
              labelPlacement="stacked"
              formControlName="razonSocial"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="NIT / RUT"
              labelPlacement="stacked"
              formControlName="nitRut"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-textarea
              label="Descripción de tus servicios"
              labelPlacement="stacked"
              formControlName="description"
            ></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-input
              label="Sitio Web (opcional)"
              labelPlacement="stacked"
              formControlName="website"
            ></ion-input>
          </ion-item>
        </ng-container>
      </ion-list>

      <div class="actions">
        <ion-button expand="block" type="submit" [disabled]="form.invalid">
          Guardar Cambios
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
