<ion-content>
  <div class="login-content">
    <div class="login-header">
      <div class="login-box">
        <!-- LOGO -->
        <div class="title-logo">
          <ion-img
            src="assets/images/TuriscolLogo.png"
            alt="Logo turiscol"
            class="img-logo-turiscol"
          ></ion-img>
          <h2 class="title">Turiscol</h2>
        </div>

        <!-- TEXTO CONTEXTUAL -->
        <p class="login-info">
          Bienvenido a Turiscol. Ingresa tus credenciales para continuar.
        </p>

        <div class="login-body">
          <form [formGroup]="loginForm">
            <ion-item class="input-item">
              <ion-input
                type="email"
                placeholder="Correo electrónico"
                formControlName="email"
              ></ion-input>
            </ion-item>
            @if (loginForm.get('email')?.touched) {
            <ion-text color="danger">
              @if (loginForm.get('email')?.errors?.['required']) {
              <small>El email es obligatorio</small>
              } @if (loginForm.get('email')?.errors?.['email']) {
              <small>El formato del email no es válido</small>
              }
            </ion-text>
            }

            <ion-item class="input-item">
              <ion-input
                type="password"
                placeholder="Contraseña"
                formControlName="password"
              ></ion-input>
            </ion-item>
            @if (loginForm.get('password')?.touched &&
            loginForm.get('password')?.errors?.['required']) {
            <ion-text color="danger">
              <small>La contraseña es obligatoria</small>
            </ion-text>
            }
          </form>
        </div>

        <div class="login-footer">
          <ion-button
            expand="block"
            class="btn-login"
            type="button"
            (click)="onLogin()"
          >
            Iniciar sesión
          </ion-button>

          <p class="forgot-text" (click)="goToRememberPassword()">
            ¿Olvidaste tu contraseña?
          </p>
          <p class="signup-text">
            ¿No tienes una cuenta?
            <a (click)="goToRegister()">Crear una</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <ion-toast
    [isOpen]="IsShowingToast"
    position="bottom"
    [message]="toastMessage"
    [duration]="1500"
    color="danger"
    (didDismiss)="IsShowingToast = false"
  >
  </ion-toast>
</ion-content>
