<div class="login-content">
  <div class="login-header">
    <div class="login-box">
      <div class="title-logo">
        <ion-img
          src="assets/images/TuriscolLogo.png"
          alt="Logo turiscol"
          class="img-logo-turiscol"
        ></ion-img>

        <h2 class="title">Turiscol</h2>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item class="input-item">
          <ion-input
            labelPlacement="stacked"
            type="email"
            placeholder="Enter your email"
            formControlName="email"
            name="email"
            required
          ></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input
            labelPlacement="stacked"
            type="password"
            placeholder="Enter your password"
            formControlName="password"
            name="password"
            required
          ></ion-input>
        </ion-item>

        <ion-button expand="block" class="btn-login" type="submit">
          Log in
        </ion-button>
      </form>

      <p class="forgot-text" (click)="goToRememberPassword()">
        Forgot password?
      </p>

      <div class="social-login">
        <div class="social-buttons">
          <ion-button
            fill="clear"
            class="social-btn"
            (click)="loginWithGoogle()"
          >
            Log in with <ion-icon name="logo-google" />
          </ion-button>
        </div>
      </div>

      <ion-select
        interface="alert"
        placeholder="Selecciona una ciudad"
        interface="alert"
      >
        @for (city of cities; track city.id) {
        <ion-select-option [value]="city.id">{{ city.name }}</ion-select-option>
        }
      </ion-select>

      <p class="signup-text">
        Don’t have an account?
        <a (click)="goToRegister()">Create one</a>
      </p>
    </div>
  </div>
</div>
