<div class="login-content">
  <div class="login-header">
    <div class="login-box">
      <!-- LOGO -->
      <div class="title-logo">
        <ion-img
          src="assets/images/TuriscolLogo.png"
          alt="Logo turiscol"
          class="img-logo-turiscol"
        ></ion-img>
        <h2 class="title">Turiscol</h2>
      </div>

      <!-- SELECTOR -->
      <div class="login-type-selector">
        <button
          [class.active]="loginMode === 'TOURIST'"
          (click)="setMode('TOURIST')"
        >
          Turista
        </button>

        <button
          [class.active]="loginMode === 'PROVIDER'"
          (click)="setMode('PROVIDER')"
        >
          Proveedor
        </button>
      </div>

      <!-- TEXTO CONTEXTUAL -->
      <p class="login-info">
        @if (loginMode === 'TOURIST') { Accede como turista usando tu cuenta de
        Google } @else { Acceso exclusivo para proveedores registrados }
      </p>

      <!-- LOGIN PROVEEDOR -->
      @if (loginMode === 'PROVIDER') {
      <form [formGroup]="loginForm" (ngSubmit)="loginProvider()">
        <ion-item class="input-item">
          <ion-input
            type="email"
            placeholder="Correo electrónico"
            formControlName="email"
          ></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-input
            type="password"
            placeholder="Contraseña"
            formControlName="password"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" class="btn-login" type="submit">
          Iniciar sesión
        </ion-button>
      </form>

      <p class="forgot-text" (click)="goToRememberPassword()">
        ¿Olvidaste tu contraseña?
      </p>
      }

      <!-- LOGIN TURISTA -->
      @if (loginMode === 'TOURIST') {
      <div class="social-login">
        <ion-button
          expand="block"
          class="btn-google"
          (click)="loginWithGoogle()"
        >
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Continuar con Google
        </ion-button>
      </div>
      }

      <!-- REGISTRO -->
      <p class="signup-text">
        ¿No tienes una cuenta?
        <a (click)="goToRegister()">Crear una</a>
      </p>
    </div>
  </div>
</div>
