<ion-tabs (ionTabsDidChange)="getCurrentTab($event)">
  <ion-tab-bar slot="bottom">
    <!-- TODOS -->
    <ion-tab-button tab="home">
      <ion-icon [name]="currenTab() === 'home' ? 'home' : 'home-outline'">
      </ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- SOLO TURISTA -->
    @if (role() === 'turista') {
    <ion-tab-button tab="destination">
      <ion-icon [name]="currenTab() === 'destination' ? 'map' : 'map-outline'">
      </ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prices">
      <ion-icon [name]="currenTab() === 'prices' ? 'cash' : 'cash-outline'">
      </ion-icon>
      <ion-label>Precios</ion-label>
    </ion-tab-button>
    }

    <!-- SOLO PROVEEDOR -->
    @if (role() === 'proveedor') {
    <ion-tab-button tab="orders">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Horarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Mis ventas</ion-label>
    </ion-tab-button>
    }

    <!-- SOLO ADMIN -->
    @if (role() === 'admin') {
    <ion-tab-button tab="admin">
      <ion-icon name="color-palette-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
    }

    <!-- TODOS -->
    <ion-tab-button tab="account">
      <ion-icon
        [name]="currenTab() === 'account' ? 'person' : 'person-outline'"
      >
      </ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
