<ion-tabs #tabs (ionTabsDidChange)="getCurrentTab($event)">
  <!-- Barra inferior -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon
        [name]="currenTab() === 'home' ? 'home' : 'home-outline'"
      ></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="destination">
      <ion-icon
        [name]="currenTab() === 'destination' ? 'map' :'map-outline'"
      ></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prices">
      <ion-icon
        [name]="currenTab() === 'prices' ? 'receipt' :'receipt-outline'"
      ></ion-icon>
      <ion-label>Precios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon
        [name]="currenTab() === 'events' ? 'color-palette' :'color-palette-outline'"
      ></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon
        [name]="currenTab() === 'profile' ? 'person' :'person-outline'"
      ></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
