<ion-tabs (ionTabsDidChange)="getCurrentTab($event)" class="main-tabs">
  <ion-tab-bar slot="bottom">
    <!-- TODOS -->
    <ion-tab-button tab="home" (click)="handleTabClick('home')">
      <ion-icon [name]="currenTab() === 'home' ? 'home' : 'home-outline'">
      </ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- SOLO TURISTA -->
    @if (role() === 'turista') {
    <ion-tab-button tab="offers" (click)="handleTabClick('offers')">
      <ion-icon [name]="currenTab() === 'offers' ? 'storefront' : 'storefront-outline'">
      </ion-icon>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prices" (click)="handleTabClick('prices')">
      <ion-icon [name]="currenTab() === 'prices' ? 'cash' : 'cash-outline'">
      </ion-icon>
      <ion-label>Precios</ion-label>
    </ion-tab-button>
    }

    <!-- SOLO PROVEEDOR -->
    @if (role() === 'proveedor') {
    <ion-tab-button tab="manage-offers" (click)="handleTabClick('manage-offers')">
      <ion-icon [name]="currenTab() === 'manage-offers' ? 'grid' : 'grid-outline'">
      </ion-icon>
      <ion-label>Mis Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="provider-sales" (click)="handleTabClick('provider-sales')">
      <ion-icon [name]="currenTab() === 'provider-sales' ? 'receipt' : 'receipt-outline'">
      </ion-icon>
      <ion-label>Ventas</ion-label>
    </ion-tab-button>
    }

    <!-- SOLO ADMIN -->
    @if (role() === 'admin') {
    <ion-tab-button tab="admin" (click)="handleTabClick('admin')">
      <ion-icon name="color-palette-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
    }

    <!-- TURISTA - CALENDARIO -->
    @if (role() === 'turista') {
    <ion-tab-button tab="events" (click)="handleTabClick('events')">
      <ion-icon [name]="currenTab() === 'events' ? 'calendar' : 'calendar-outline'">
      </ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="destinations" (click)="handleTabClick('destinations')">
      <ion-icon [name]="currenTab() === 'destinations' ? 'location' : 'location-outline'">
      </ion-icon>
      <ion-label>Destinos</ion-label>
    </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>