.price-table {
  width: 100%;
  font-size: 15px;
}

.price-table th {
  background: var(--ion-color-light);
  font-weight: 600;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.price-table th,
.price-table td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}
