<ion-header translucent>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="events-container">
    <!-- FILTRO DE CIUDAD -->
    <app-city-filter
      [selectedCity]="selectedCity"
      (citySelected)="filterByCity($event)"
      (clearFilter)="resetCityFilter()"
    ></app-city-filter>

    <!-- BOTÓN MOSTRAR/OCULTAR FILTRO AVANZADO -->
    <ion-button
      expand="block"
      [fill]="showAdvancedFilter ? 'outline' : 'solid'"
      (click)="toggleAdvancedFilter()"
      class="px-4"
    >
      {{ showAdvancedFilter ? 'Ocultar Filtro Avanzado' : 'Mostrar Filtro
      Avanzado' }}
    </ion-button>

    <!-- FILTRO AVANZADO -->
    @if (showAdvancedFilter) {
    <app-event-advance-filter
      (dateFromChange)="onDateFrom($event)"
      (dateToChange)="onDateTo($event)"
      (statusChange)="onStatusChange($event)"
      (clearFilters)="resetAdvancedFilters()"
    ></app-event-advance-filter>

    }

    <!-- LISTA DE EVENTOS -->
    @if (filteredEvents.length > 0) {
    <app-event-list
      [events]="filteredEvents"
      (selectEvent)="goToDetails($event)"
    ></app-event-list>
    } @else {
    <p class="empty">No hay eventos que coincidan</p>
    }
  </div>
</ion-content>
