.events-container {
  padding-bottom: 20px;
}
.empty {
  text-align: center;
  margin-top: 30px;
  color: #666;
}

.advanced-filter {
  display: grid;
  gap: 10px;
  margin: 15px;
  background: #f1f1f1;
  padding: 12px;
  border-radius: 12px;
}
