<ion-header class="page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de Precios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="admin-placeholder">
    <ion-icon name="add-circle-outline"></ion-icon>
    <h3>Administración de Precios</h3>
    <p>Aquí podrás crear y gestionar los precios de las ofertas.</p>
    <ion-button expand="block" color="primary">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Crear Precio
    </ion-button>
  </div>
</ion-content>
