ion-toolbar {
  color: var(--ion-color-primary-tint);
}

ion-title {
  color: var(--ion-color-primary-contrast);
  font-weight: bold;
  text-transform: uppercase;
}

ion-button {
  color: var(--ion-color-primary-contrast);
}
