<ion-modal
  [isOpen]="isOpen"
  (willDismiss)="onWillDismiss()"
  [backdropDismiss]="!processing()"
  [showBackdrop]="true"
  cssClass="payment-modal"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Pagar Reserva</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="close()" [disabled]="processing()">
            Cerrar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="payment-content">
      @if (processing()) {
      <div class="processing-container">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Redirigiendo al pago...</p>
        <span class="processing-hint">No cierres esta ventana</span>
      </div>
      } @else if (errorMessage()) {
      <div class="error-container">
        <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
        <p>{{ errorMessage() }}</p>
      </div>
      } @else {
      <div class="pay-container">
        <p>Serás redirigido a la pasarela de pago segura.</p>
        <ion-button expand="block" (click)="pay()" class="pay-button">
          Confirmar Pago
        </ion-button>
      </div>
      }
    </ion-content>
  </ng-template>
</ion-modal>
