<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="reservations-content">
  <div class="reservations-card">
    @for (reservation of bookings(); track reservation.id) {
    <div class="reservation-item" (click)="goToDetail(reservation.id)">
      <img [src]="reservation.image" />

      <div class="info">
        <div class="top">
          <h3>{{ reservation.title }}</h3>

          <span class="status" [ngClass]="reservation.status">
            {{ statusLabel(reservation.status) }}
          </span>
        </div>

        <p>
          {{ reservation.startDate }} @if (reservation.endDate) { – {{
          reservation.endDate }} }
        </p>
      </div>
    </div>
    }
  </div>
</ion-content>
