<ion-content fullscreen="true">
  <div class="remember-wrapper">
    <div class="box">
      <h2 class="title">Recover your password</h2>
      <p class="subtitle">
        Enter your email and we'll send you instructions to reset your password.
      </p>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-item class="input-item">
          <ion-input
            type="email"
            labelPlacement="stacked"
            placeholder="Enter your email"
            formControlName="email"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" class="btn" type="submit">
          Send instructions
        </ion-button>
      </form>

      <p class="back-text" (click)="goBack()">Back to login</p>
    </div>
  </div>
</ion-content>
