.row {
  display: flex;
  align-items: center;
  gap: 15px; // separación entre texto y select
}

.row h4 {
  font-family: var(--font-size-base);
  font-size: var(--font-size-sm);
  color: var(ion-color-text-tittle);
  font-weight: 700;
  margin: 0;
  margin: 0;
  white-space: nowrap; // evita que el texto salte de línea
}

.city-select {
  flex: 1; // hace que el select tome el espacio restante
}

ion-select {
  color: rgb(113, 110, 110);
}

.button-clear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--ion-color-primary);
  color: #ffffff;
  padding: 8px 10px;
  border-radius: 10px;
  height: fit-content;

  .icon-trash {
    --ion-icon-width: 26px;
    --ion-icon-height: 26px;
    color: white;
  }

  /* Texto pequeño */
  .clear-text {
    font-size: 11px;
    line-height: 1;
    margin-top: 2px;
    color: white;
  }
}
