<ion-header translucent>
  <ion-toolbar>
    <ion-title>Registrar Precio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content">
  <form [formGroup]="form" class="form">
    <!-- Nombre del servicio -->
    <ion-item>
      <ion-input
        label="Nombre del servicio"
        formControlName="service"
        labelPlacement="stacked"
        placeholder="Ej: Corte de cabello"
      ></ion-input>
    </ion-item>

    @if (form.controls['service'].touched && form.controls['service'].invalid) {
    <p class="error">Este campo es obligatorio</p>
    }

    <!-- Ciudad -->
    <ion-item>
      <ion-input
        label="Ciudad"
        formControlName="city"
        labelPlacement="stacked"
        placeholder="Ej: Bogotá"
      ></ion-input>
    </ion-item>

    @if (form.controls['city'].touched && form.controls['city'].invalid) {
    <p class="error">Debe indicar una ciudad válida</p>
    }

    <!-- Precio -->
    <ion-item>
      <ion-input
        label="Precio"
        type="number"
        formControlName="price"
        labelPlacement="stacked"
        placeholder="Ej: 30000"
      ></ion-input>
    </ion-item>

    @if (form.controls['price'].touched && form.controls['price'].invalid) {
    <p class="error">Ingrese un precio válido mayor a 0</p>
    }

    <ion-button
      expand="block"
      class="btn-save"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Guardar
    </ion-button>
  </form>
</ion-content>
